# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.code-workspace

# Git
.gitkeep

# Config files
expo-env.d.ts

# Tests
coverage/
__tests__/coverage/
test-results/
playwright-report/

# Environment files
.env
.env.local

# Build files
appsettings.json
appsettings.Development.json
appsettings.Production.json